.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}
.header-container {
  grid-area: 1 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 100px;
  column-gap: 1%;
  background-color: rgb(255, 255, 255);
}
/* heder containers content */
.menu {
  background-color: rgba(132, 157, 58, 1);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50%;
  border-radius: 200px;
  border: none;
  cursor: pointer;
}
.menu-image {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.login {
  padding-left: 30px;
  text-align: left;
  width: 50%;
  height: 60px;
  background-color: rgba(132, 157, 58, 1);
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  grid-area: 1 / 4 / 2 / 5;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px #ffffff;
  display: block;
  grid-area: 1 / 4 / 2 / 5;
  overflow: hidden;
  justify-self: end;
  align-self: center;
  margin-right: 10px;
}
.cart {
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50%;
  border-radius: 200px;
  grid-area: 1 / 5 / 2 / 6;
  background-color: rgba(132, 157, 58, 1);
  border: none;
  cursor: pointer;

  overflow: hidden;
}

/*End of header-container content*/
.div1 {
  grid-area: 1 / 1 / 2 / 7;
  /* background-color: blue; */
}
.div2 {
  background-color: aqua;
  grid-area: 2 / 2 / 3 / 3;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: brown;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: blueviolet;
}
.div5 {
  grid-area: 2 / 5 / 3 / 6;
  background-color: chartreuse;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: coral;
}
.div7 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: darkmagenta;
}
.div8 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: fuchsia;
}
.div9 {
  grid-area: 3 / 5 / 4 / 6;
  background-color: cornflowerblue;
}

* {
  background-color: rgba(207, 211, 165, 1);
}
