.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
  grid-template-rows: 0.5fr repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 7;
}
.div2 {
  grid-area: 2 / 2 / 3 / 3;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
}
.div5 {
  grid-area: 2 / 5 / 3 / 6;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 3 / 3 / 4 / 4;
}
.div8 {
  grid-area: 3 / 4 / 4 / 5;
}
.div9 {
  grid-area: 3 / 5 / 4 / 6;
}
