body {
  background-color: rgba(207, 211, 165, 1);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #625248;
  font-size: 12px;
}
h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #625248;
}
h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #625248;
}
.container {
  display: grid;
  grid-template-columns: 56% 38%;
  grid-template-rows: 25% 70%;
  column-gap: 3%;
  row-gap: 1.5%;
  margin: 3%;
  width: 99%;
}
.header {
  grid-area: 1/1/2/2;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.cart-text {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: center;
  color: #625248;
}
.close-button {
  grid-area: 1/1/2/2;

  justify-self: start;
  align-self: center;

  cursor: pointer;
}
.close-button-image {
  height: 60px;
  margin-left: 25%;
}
.cart-icon-orange {
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: end;
  margin-right: 5%;
  width: 64px;
}
.cart-container {
  background-color: #ffffff;
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: 25% 60% 10% 5%;
  grid-template-rows: 25% 25% 25% 25%;
  border-radius: 10px;
  padding: 2%;
}
.item-image-in-checkout {
  grid-area: 1/1/2/2;
  width: auto;
  height: 20%;
  justify-self: center;
  align-self: start;
}
.item-name {
  grid-area: 1/2/2/3;
  align-self: center;
}
.item-amount {
  grid-area: 1/3/2/4;
  align-self: center;
  justify-self: center;
}
.item-trashcan {
  grid-area: 1/4/2/5;
  height: auto;
  width: 100%;
  justify-self: end;
  align-self: center;
}
.empty-cell-one {
  grid-area: 1/1/2/5;
  border-bottom: solid 1px #9e9e9e;
  justify-self: stretch;
  align-self: stretch;
  height: 100%;
}
.empty-cell-two {
  grid-area: 2/1/3/5;
}
.empty-cell-three {
  grid-area: 3/1/4/5;
}
.empty-cell-four {
  grid-area: 4/1/5/5;
}

.logo-checkout-details {
  grid-area: 1/2/3/3;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 20% 20%;
  height: 99%;
  width: auto;
}

.logo-in-a-box {
  grid-area: 1/1/2/3;
  background-color: #ffe2d1;

  border-radius: 10px;
  margin: 5%;
}
.logo-image-resizing {
  grid-area: 1/1/2/3;
  height: 100px;
  justify-self: center;
  align-self: center;
}

.your-info {
  grid-area: 2/1/3/3;

  list-style-type: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
input {
  border: #625248 solid 1px;
  width: 85%;
  height: auto;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.payment {
  grid-area: 3/1/4/3;
  margin: 10%;
  padding: 4%;
}
select {
  width: 50%;
  font-size: 12px;
}
.checkout-now {
  grid-area: 4/2/5/3;
  border: none;
  background-color: rgba(132, 157, 58, 1);
  color: #ffffff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  width: 50%;
  height: auto;
  border-radius: 20px;
  align-self: start;
  justify-self: center;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  h3 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 35% 50%;
    row-gap: 5%;
    column-gap: 1%;
    width: auto;
    height: 100%;
  }
  .header {
    grid-area: 1/1/2/2;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .cart-container {
    background-color: #ffffff;
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 25% 59% 10% 5%;
    grid-template-rows: 26% 25% 25% 20%;
    border-radius: 10px;
    padding: 4%;
    height: 99%;
  }
  .item-image-in-checkout {
    grid-area: 1/1/2/2;
    width: auto;
    height: 80%;
    justify-self: center;
    align-self: start;
  }
  .logo-checkout-details {
    grid-area: 3/1/4/2;
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 29% 29% 19% 19%;
    row-gap: 4%;
    height: auto;
    width: 100%;
  }
}
