.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 100px 44px 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.header-container {
  grid-area: 1 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 100px;
  column-gap: 1%;
  background-color: rgb(255, 255, 255);
}
/* header containers content */
.menu {
  background-color: rgba(132, 157, 58, 1);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50%;
  border-radius: 200px;
  border: none;
  cursor: pointer;
}
.menu-image {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.login {
  padding-left: 10px;
  text-align: left;
  width: 80%;
  height: 60px;
  background-color: rgba(132, 157, 58, 1);
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  grid-area: 1 / 4 / 2 / 5;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid 2px #ffffff;
  display: block;
  grid-area: 1 / 4 / 2 / 5;
  overflow: hidden;
  justify-self: end;
  align-self: center;
  margin-right: 5px;
}
.cart {
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50%;
  border-radius: 200px;
  grid-area: 1 / 5 / 2 / 6;
  background-color: rgba(132, 157, 58, 1);
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.cart-image {
  grid-area: 1 / 5 / 2 / 6;
  justify-self: center;
  align-self: center;
}
.logo {
  grid-area: 1 / 3 / 2 / 4;
  width: auto;
  height: 100px;
  justify-self: center;
  align-self: center;
}
.click-logo {
  grid-area: 1 / 3 / 2 / 4;
  width: auto;
  height: 100px;
  justify-self: center;
  align-self: center;
}
/*End of header-container content*/
/*All the white boxes*/
.strawberry-box {
  grid-area: 3 / 2 / 4 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.apple-box {
  grid-area: 3 / 4 / 4 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.raspberry-box {
  grid-area: 4 / 2 / 4 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.choco-box {
  grid-area: 4 / 4 / 4 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.cookies-box {
  grid-area: 5 / 2 / 5 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.blueberry-box {
  grid-area: 5 / 4 / 5 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.blackberry-box {
  grid-area: 6 / 2 / 6 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
.kladdkaka-box {
  grid-area: 6 / 4 / 6 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 4px;
  border-top: 7px solid rgba(241, 89, 41, 1);
  border-bottom: 7px solid rgba(241, 89, 41, 1);
}
/*No more white boxes*/
/*All the content inside boxes*/
.strawberry {
  color: #625248;
  grid-area: 3 / 3 / 4 / 4;
  padding-right: 20px;
  margin-bottom: 4px;
}
.apple {
  color: #625248;
  grid-area: 3 / 5 / 4 / 6;
  padding-right: 20px;
  margin-bottom: 4px;
}
.raspberry {
  color: #625248;
  grid-area: 4 / 3 / 4 / 4;
  margin-bottom: 4px;
  padding-right: 20px;
}
.choco {
  color: #625248;
  grid-area: 4 / 5 / 4 / 6;
  padding-right: 20px;
  margin-bottom: 4px;
}
.cookies {
  color: #625248;
  grid-area: 5 / 3 / 5 / 4;
  padding-right: 20px;
  margin-bottom: 4px;
}
.blueberry {
  color: #625248;
  grid-area: 5 / 5 / 5 / 6;
  padding-right: 20px;
  margin-bottom: 4px;
}
.blackberry {
  color: #625248;
  grid-area: 6 / 3 / 6 / 4;
  padding-right: 20px;
  margin-bottom: 4px;
}
.kladdkaka {
  color: #625248;
  grid-area: 6 / 5 / 6 / 6;
  padding-right: 20px;
  margin-bottom: 4px;
}
/*No more content inside boxes*/
/*All images connected to boxes*/
.strawberry-image {
  grid-area: 3 / 2 / 4 / 3;
}
.apple-image {
  grid-area: 3 / 4 / 4 / 5;
}
.raspberry-image {
  grid-area: 4 / 2 / 4 / 5;
}
.choco-image {
  grid-area: 4 / 4 / 4 / 5;
}
.cookies-image {
  grid-area: 5 / 2 / 5 / 3;
}
.blueberry-image {
  grid-area: 5 / 4 / 5 / 5;
}
.blackberry-image {
  grid-area: 6 / 2 / 6 / 3;
}
.kladdkaka-image {
  grid-area: 6 / 4 / 6 / 5;
}
/*No more images connected to boxes*/
.image {
  width: 330px;
  height: auto;
  border-radius: 10px 0px 0px 0px;
  /* border-top: 7px solid rgba(241, 89, 41, 1);
          border-bottom: 7px solid rgba(241, 89, 41, 1); */
}
.popular-dessert {
  grid-area: 2 / 2 / 3 / 6;
  border-bottom: 2px solid rgba(132, 157, 58, 1);
  justify-self: stretch;
  color: rgba(132, 157, 58, 1);
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(207, 211, 165, 1);
}
h1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 5px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(132, 157, 58, 1);
  font-style: normal;
  font-weight: normal;
  text-align: normal;
}
