.container {
  display: grid;
  grid-template-columns: 10% 19% 19% 19% 19% 10%;
  grid-template-rows: 12% 2% 21% 21% 21% 21%;
  grid-column-gap: 1%;
  grid-row-gap: 3%;
  height: auto;
  width: 99%;
}
.header-container {
  grid-area: 1 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: 11% 25% 25% 25% 11%;
  grid-template-rows: 100%;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
/* header containers content */
.menu {
  background-color: rgba(132, 157, 58, 1);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50%;
  border-radius: 200px;
  border: none;
  cursor: pointer;
}
.menu-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
  margin-top: 12px;
}
.login {
  padding-left: 10px;
  text-align: left;
  width: 80%;
  height: 60px;
  background-color: rgba(132, 157, 58, 1);
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  grid-area: 1 / 4 / 2 / 5;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid 2px #ffffff;
  display: block;
  grid-area: 1 / 4 / 2 / 5;
  overflow: hidden;
  justify-self: end;
  align-self: center;
  margin-right: 5px;
}
.cart {
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50%;
  border-radius: 200px;
  grid-area: 1 / 5 / 2 / 6;
  background-color: rgba(132, 157, 58, 1);
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.cart-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24px;
  height: 24px;
  margin-top: 12px;
}
.logo {
  grid-area: 1 / 3 / 2 / 4;
  width: auto;
  height: 100px;
  justify-self: center;
  align-self: center;
}

.click-logo {
  grid-area: 1 / 3 / 2 / 4;
  width: auto;
  height: 100px;
  justify-self: center;
  align-self: center;
}
/*End of header-container content*/
/*All the white boxes*/
.lemonade-box {
  grid-area: 3 / 2 / 4 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.berry-box {
  grid-area: 3 / 4 / 4 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.oreo-box {
  grid-area: 4 / 2 / 4 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.mango-box {
  grid-area: 4 / 4 / 4 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.mojito-box {
  grid-area: 5 / 2 / 5 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.pomegranate-box {
  grid-area: 5 / 4 / 5 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.icetea-box {
  grid-area: 6 / 2 / 6 / 4;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
.smoothie-box {
  grid-area: 6 / 4 / 6 / 6;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0px 0px;
  padding: 1%;

  border-top: 7px solid rgba(241, 89, 41, 1);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 99%;
  grid-template-columns: 40% 40%;
}
/*No more white boxes*/
/*All the content inside boxes*/
.lemonade,
.berry,
.oreo,
.mango,
.mojito,
.pomegranate,
.icetea,
.smoothie {
  color: #625248;
  grid-area: 1 / 2 /2 / 3;
  margin: 3%;
}

/*No more content inside boxes*/
/*All images connected to boxes*/
.lemonade-image,
.berry-image,
.oreo-image,
.mango-image,
.mojito-image,
.pomegranate-image,
.icetea-image,
.smoothie-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 90%;
  height: auto;
  justify-self: start;
  align-self: start;
  margin: 3%;
}
/*No more images connected to boxes*/
.image {
  width: 100%;
  height: auto;
  border-radius: 10px 0px 0px 0px;
  /* border-top: 7px solid rgba(241, 89, 41, 1);
          border-bottom: 7px solid rgba(241, 89, 41, 1); */
}
.popular-drinks {
  grid-area: 2 / 2 / 3 / 6;
  border-bottom: 2px solid rgba(132, 157, 58, 1);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  justify-self: stretch;
  width: 100%;
  color: rgba(132, 157, 58, 1);
  align-self: end;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(207, 211, 165, 1);
}
h1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  padding-top: 10px;
  padding-left: 5px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #625248;
}
h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(132, 157, 58, 1);
  font-style: normal;
  font-weight: normal;
  text-align: normal;
}

/*Here starts the menu coding, the menu has its own grid, so it's a grid in a grid*/
.popout-menu-container {
  background-color: rgba(207, 211, 165, 1);
  grid-area: 1 / 1 / 7 / 3;
  /* border-right: 2px solid rgba(132, 157, 58, 1); */
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 15% 5% 5% 25% 10%;
  row-gap: 5px;
  column-gap: 5px;
  padding-right: 20px;
  padding-top: -20px;
  width: 400px;
}
.grey-out {
  background-color: rgba(59, 58, 58, 0.575);
  grid-area: 1 / 1 / 7 / 7;
}
.close-menu-button {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgba(132, 157, 58, 1);
  justify-self: start;
  align-self: start;
  height: 30px;
  width: 50px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
/*Here starts the app icons buttons, its a lot of buttons but says basicly the same thing ( only change is image and placement) */
.cow-button {
  grid-area: 2/1/3/2;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.pasta-button {
  grid-area: 2/ 2/3/3;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.pig-button {
  grid-area: 2/ 3/3/4;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.chicken-button {
  grid-area: 2/ 4/3/5;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.vegan-button {
  grid-area: 3/1/4/2;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.fish-button {
  grid-area: 3/ 2/4/3;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.cake-button {
  grid-area: 3/ 3/4/4;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
.drink-button {
  grid-area: 3/ 4/4/5;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
}
/*End of the endless buttons for the categories!! */
.recomended-4u {
  grid-area: 4/ 1/5/5;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.logo-container {
  grid-area: 1 / 1 / 2/5;
  background-color: #ffffff;
  border-radius: 10px;
}
.orange-E {
  grid-area: 1/2/2/4;
  width: 50px;
  justify-self: center;
  align-self: center;
}
/*This is the recomended for you image changer, dont do much just says that the image should follow the div its in :D*/
.image-version2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
.image-in-4u-box {
  grid-area: 4/1/5/3;
  width: 150px;
  height: 225px;
  overflow: hidden;
  margin: 20px;
}
.recomended-4u-textbox {
  grid-area: 4/3/5/5;
  align-self: right;
  justify-self: center;
  padding: 20px;
}
.icon-image {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.login-menu-container {
  grid-area: 5/1/6/5;
  background-color: rgba(132, 157, 58, 1);
  border-radius: 10px;
}
.login-menu {
  padding-left: 20px;
  text-align: left;
  width: 180px;
  height: 60px;
  background-color: rgba(132, 157, 58, 1);
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  grid-area: 5/1/5/5;
  margin: 10px;
}
.user-image-menu {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px #ffffff;
  grid-area: 5/1/5/5;
  overflow: hidden;
  position: relative;
  justify-self: end;
  align-self: center;
  margin: 10px;
}
.settings {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 10px;
  grid-area: 5/1/5/5;
  position: relative;
  justify-self: start;
  align-self: center;
}
/*Pop out menu done */
/*Start of the cart pop out */
/* pop out container for the cart with its own grid*/
.popout-cart-container {
  background-color: rgba(207, 211, 165, 1);
  grid-area: 1 / 5 / 7 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 40% 40px;
  row-gap: 5px;
  column-gap: 5px;
}
.popout-cart-logo-container {
  background-color: #ffffff;
  grid-area: 1/ 1/ 2 / 4;
  margin-left: 10px;
  border-radius: 10px;
}
.popout-cart-item-container {
  background-color: #ffffff;
  grid-area: 2/ 1/ 3 / 4;
  margin-left: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}
.empty-cart-text {
  grid-area: 1/1/3/2;
  align-self: start;
  justify-self: center;
}
.item-box-for-cart {
  grid-area: 1/1/2/2;
  background-color: #ffffff;
  border-bottom: solid 1px #9e9e9e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
}
.item-in-cart {
  width: 100px;
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: center;
}
.item-text-in-cart {
  grid-area: 1/2/2/3;
}
.item-price-in-car {
  grid-area: 1/3/2/4;
  align-self: center;
}
.popout-cart-to-checkout-button {
  background-color: rgba(132, 157, 58, 1);
  grid-area: 3/ 3/ 4 / 4;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 5px;
  border: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.orange-E-cart-edition {
  grid-area: 1/2/2/3;
  width: 50px;
  justify-self: center;
  align-self: center;
}
.close-menu-button-cart {
  grid-area: 1 / 3/ 2 / 4;
  background-color: rgba(132, 157, 58, 1);
  justify-self: end;
  align-self: start;
  height: 30px;
  width: 50px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .logo-two {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 4% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-column-gap: 0%;
    grid-row-gap: 1%;
    height: auto;
    width: 99%;
  }
  .logo {
    display: none;
  }

  .login {
    display: none;
  }
  .user-image {
    display: none;
  }
  .header-container {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    row-gap: 0%;
  }
  .menu {
    background-color: rgba(132, 157, 58, 1);
    grid-area: 1 / 1 / 2 / 2;
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 50%;
    border-radius: 20px;
  }
  .logo-two {
    height: 100%;
  }
  .click-logo {
    grid-area: 1 / 2 / 2 / 3;
    width: auto;
    height: 95%;
    justify-self: center;
    align-self: center;
  }
  .cart {
    height: auto;
    width: 50%;
    border-radius: 20px;
    grid-area: 1 / 3 / 2 / 4;
    background-color: rgba(132, 157, 58, 1);
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
  }
  .menu-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .cart-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .popular-drinks {
    grid-area: 2 / 1 / 3 / 4;
    border-bottom: 2px solid rgba(132, 157, 58, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: stretch;
    width: 100%;
    color: rgba(132, 157, 58, 1);
    align-self: end;
  }
  .lemonade-box {
    grid-area: 3 / 1 / 4 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 1%;

    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .berry-box {
    grid-area: 4 / 1 / 5 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 1%;

    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .oreo-box {
    grid-area: 5 / 1 / 6 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .mango-box {
    grid-area: 6 / 1 / 7 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .mojito-box {
    grid-area: 7 / 1 / 8 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .pomegranate-box {
    grid-area: 8 / 1 / 9 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .icetea-box {
    grid-area: 9/ 1 / 10 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1%;
    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .smoothie-box {
    grid-area: 10 / 1 / 11 / 4;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1%;
    border-top: 7px solid rgba(241, 89, 41, 1);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 99%;
    grid-template-columns: 40% 40%;
  }
  .popout-menu-container {
    background-color: rgba(207, 211, 165, 1);
    grid-area: 1/ 1 / 11 / 4;
    /* border-right: 2px solid rgba(132, 157, 58, 1); */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 6% 2% 2% 9% 4%;
    row-gap: 0.1;
    column-gap: 0.2%;
    width: 99%;
  }
  .image-in-4u-box {
    grid-area: 4/1/5/3;
    width: 70%;
    height: auto;

    margin: 10%;
  }
  .recomended-4u-textbox {
    grid-area: 4/3/5/5;
    align-self: right;
    justify-self: center;
    padding: 7%;
  }

  .popout-cart-container {
    background-color: rgba(207, 211, 165, 1);
    grid-area: 1 / 1 / 11 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 60px;
    row-gap: 5px;
    column-gap: 5px;
  }
}
