.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr 1fr 0.5fr;
  grid-template-rows: 100px 0.5fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.header-container {
  display: grid;
  background-color: aqua;
  grid-area: 1 / 1 / 2 / 8;
}
.menu {
  background-color: blueviolet;
  grid-area: 1 / 1 / 2 / 2;
}
.logo {
  background-color: blueviolet;
  grid-area: 1 / 4 / 2 / 5;
}
.login {
  background-color: blueviolet;
  grid-area: 1 / 6 / 2 / 7;
}
.cart {
  background-color: blue;
  grid-area: 1 / 7 / 2 / 8;
}
.searchbar-container {
  background-color: aqua;
  grid-area: 2 / 2 / 3 / 7;
}
.image {
  width: 500px;
  height: auto;
}
.poupular-recipe-one {
  background-color: aqua;
  grid-area: 3 / 2 / 6 / 4;
}
.poupular-recipe-two {
  background-color: aqua;
  grid-area: 3 / 4 / 6 / 5;
}
.poupular-recipe-three {
  background-color: aqua;
  grid-area: 3 / 5 / 6 / 7;
}

.poupular-recipe-one-image {
  background-color: rgb(195, 0, 255);
  grid-area: 3 / 2 / 5 / 4;
}
.poupular-recipe-two-image {
  background-color: rgb(195, 0, 255);
  grid-area: 3 / 4 / 5 / 5;
}
.poupular-recipe-three-image {
  background-color: rgb(195, 0, 255);
  grid-area: 3 / 5 / 5 / 7;
}
