/* this is important for a grid, it holds all my cells */
.container {
  display: grid;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
  grid-template-rows: 100px 100px 1fr 350px;
  column-gap: 10px;
  row-gap: 30px;
}

.header-container {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 1 / 2 / 6;
}
.searchbar-container {
  border-radius: 10px;
  background-color: rgba(241, 89, 41, 1);
  grid-area: 2 / 2 / 3 / 5;
}
input {
  border: none;

  padding-left: 40px;
  border-radius: 20px;
  margin-left: 3%;
  justify-self: start;
  align-self: center;
  width: 80%;
  height: 40px;
  grid-area: 2 / 2 / 3 / 5;
}
.search-button {
  grid-area: 2 / 4 / 3 / 5;
  width: 20%;
  height: 40px;
  justify-self: end;
  align-self: center;
  margin-right: 12%;
  background-color: rgba(132, 157, 58, 1);
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.4s;
  position: relative;
}
.search-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.search-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.poupular-recipe-container-one {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  grid-area: 3 / 2 / 5 / 3;
}
.poupular-recipe-container-two {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  grid-area: 3 / 3 / 5 / 4;
}
.poupular-recipe-container-three {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(255, 255, 255);
  grid-area: 3 / 4 / 5 / 5;
}
body {
  background-color: rgba(207, 211, 165, 1);
}
p {
  padding: 10px;
}
h1 {
  padding: 10px;
}
.image {
  border-radius: 10px 10px 0px 0px;

  width: 100%;
  height: auto;
}
.poupular-recipe-one {
  grid-area: 4 / 2 / 5 / 3;
}
.poupular-recipe-two {
  grid-area: 4 / 3 / 5 / 4;
}
.poupular-recipe-three {
  grid-area: 4 / 4 / 5 / 5;
}
.poupular-recipe-one-image {
  border-radius: 10px;
  grid-area: 3 / 2 / 4 / 3;
}
.poupular-recipe-two-image {
  border-radius: 10px;
  grid-area: 3 / 3 / 4 / 4;
}
.poupular-recipe-three-image {
  border-radius: 10px;
  grid-area: 3 / 4 / 4 / 5;
}

.menu {
  background-color: rgba(132, 157, 58, 1);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 70px;
  border-radius: 200px;
  border: none;
  cursor: pointer;

  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.menu-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 25px;
  height: 25px;
  align-self: center;
  justify-self: center;
}
.login {
  padding-left: 20px;
  text-align: left;
  width: 180px;
  height: 60px;
  background-color: rgba(132, 157, 58, 1);
  justify-self: end;
  align-self: center;
  border-radius: 10px;
  grid-area: 1 / 4 / 2 / 5;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px #ffffff;
  grid-area: 1 / 4 / 2 / 5;
  overflow: hidden;
  position: relative;
  justify-self: end;
  align-self: center;
  margin-right: 10px;
}
h2 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
}
h3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
.cart {
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 70px;
  border-radius: 200px;
  grid-area: 1 / 5 / 2 / 6;
  background-color: rgba(132, 157, 58, 1);
  border: none;
  cursor: pointer;

  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.menu-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 25px;
  height: 25px;
  align-self: center;
  justify-self: center;
}
.cart-image {
  grid-area: 1 / 5 / 2 / 6;
  justify-self: center;
  align-self: center;
}
.logo {
  background-color: rgb(127, 129, 255);
  grid-area: 1 / 3 / 2 / 4;
  width: 200px;
  height: auto;
  justify-self: center;
  align-self: center;
}
.popout-menu-container {
  width: 320px;
  background-color: rgba(207, 211, 165, 1);
  grid-area: 1 / 1 / 6 / 3;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 50px 50px 100px 100px;
  row-gap: 5px;
}
.gray-out {
  background-color: rgba(59, 58, 58, 0.349);
  grid-area: 1 / 1 / 5 / 6;
}
.close-menu-button {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgba(132, 157, 58, 1);

  justify-self: start;
  align-self: start;

  height: 30px;
  width: 50px;
  border-radius: 200px;
  border: none;
  cursor: pointer;

  text-decoration: none;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  margin-right: 10px;
}
.cow-button {
  grid-area: 2/1/3/2;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.sheep-button {
  grid-area: 2/ 2/3/3;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.pig-button {
  grid-area: 2/ 3/3/4;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.chicken-button {
  grid-area: 2/ 4/3/5;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.vegan-button {
  grid-area: 3/1/4/2;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.fish-button {
  grid-area: 3/ 2/4/3;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.cake-button {
  grid-area: 3/ 3/4/4;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.drink-button {
  grid-area: 3/ 4/4/5;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 89, 41, 1);
  margin-right: 10px;
}
.recomended-4u {
  grid-area: 4/ 1/5/5;
  background-color: #ffffff;
  margin-right: 10px;
}
